<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="dashboard">ProEventos</a>
  <button class="navbar-toggler" (click)="isCollapsed = !isCollapsed" type="button" data-toggle="collapse"
    data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [collapse]="isCollapsed" [isAnimated]="true" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" routerLink="eventos" routerLinkActive="active">Eventos <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="palestrantes" routerLinkActive="active">Palestrantes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contato" routerLinkActive="active">Contato</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item dropdown" dropdown>
        <a dropdowntoggle class="nav-link dropdown-toggle" style="cursor: pointer" id="navbarDropdownMenuLink"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Vinícius
        </a>
        <div *dropdownmenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="perfil">
            Perfil
          </a>
          <div role="separator" class="divider"></div>
          <a class="dropdown-item" href="#">
            Sair
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
